{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ofertas de Emprego</title>
    {% bootstrap_css %}
    <link href="{% static 'css/css.css' %}" rel="stylesheet"/>
</head>
<body class="dark">
<br><br>
    <div class="container">
        <h1>Ofertas Disponíveis</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">OFERTA</th>
                    <th scope="col">FAIXA SALARIAL</th>
                    <th scope="col">REQUISITOS</th>
                    <th scope="col">ESCOLARIDADE MÍNIMA</th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                <tr>
                    <th scope="row">
                        {% if admin %}
                            <a href="{% url 'redirect' offer.id %}" class="underline">{{ offer.name }}</a>
                        {% else %}
                            {{ offer.name }}
                        {% endif %}
                    </th>
                    <th>{{ offer.salary }}</th>
                    <th>{{ offer.requirements }}</th>
                    <th>{{ offer.min_education }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer>
            {% if admin %}
            <h1><a href="{% url 'new_offer' %}" class="btn btn-secondary">Criar Nova Oferta</a></h1>
            {% endif %}
            <h1><a href="{% url 'index' %}" class="btn btn-primary">Voltar à Página Inicial</a></h1>
        </footer>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>