{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Oferta de Emprego</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Nova Oferta</h1>
<!--    enctype: Upload de arquivos (imagens, pdf, docs etc)    -->
        <form method="post" autocomplete="off" action="{% url 'new_offer' %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Salvar</button>
            {% endbuttons %}
        </form>
        {% bootstrap_messages %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>