{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Oferta de Emprego</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body class="dark">
    <br><br><br><br>
    <div class="container">
        <br><h1>Nova Oferta</h1>
        <form method="post" autocomplete="off" action="{% url 'new_offer' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Salvar</button>
            {% endbuttons %}
        </form>
        {% bootstrap_messages %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>